In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../wine/wine.data")

In [3]:
X = df.drop(columns='class')
Y = df['class']

In [4]:
X.describe()

,alcohol,malicacid,ash,alcalinity,Mg,phenols,flav,nonflav,proantho,clr_intensity,hue,0D280_0D315,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [5]:
Y.describe()

count    178.000000
mean       1.938202
std        0.775035
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: class, dtype: float64

In [6]:
from sklearn.preprocessing import KBinsDiscretizer

col_n_bins = {
    'alcohol':3,
    'malicacid':6,
    'ash':5,
    'alcalinity':10,
    'Mg':12,
    'phenols':6,
    'flav':10,
    'nonflav':6,
    'proantho':7,
    'clr_intensity':12,
    'hue':6,
    '0D280_0D315':6,
    'proline':15
}

X_disc = pd.DataFrame()
for col,n_bins in col_n_bins.items():
    discretizer = KBinsDiscretizer(n_bins=n_bins,encode='ordinal',strategy='uniform')
    X_disc[col] = discretizer.fit_transform(X[[col]]).flatten()

X_disc

,alcohol,malicacid,ash,alcalinity,Mg,phenols,flav,nonflav,proantho,clr_intensity,hue,0D280_0D315,proline
0,2.0,1.0,2.0,2.0,7.0,3.0,5.0,1.0,4.0,4.0,2.0,5.0,8.0
1,1.0,1.0,2.0,0.0,3.0,3.0,5.0,1.0,1.0,3.0,2.0,4.0,8.0
2,1.0,1.0,3.0,4.0,4.0,3.0,6.0,1.0,5.0,4.0,2.0,4.0,9.0
3,2.0,1.0,3.0,3.0,5.0,5.0,6.0,1.0,3.0,6.0,1.0,4.0,12.0
4,1.0,2.0,4.0,5.0,6.0,3.0,4.0,2.0,3.0,3.0,2.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,2.0,5.0,2.0,5.0,3.0,1.0,0.0,4.0,1.0,6.0,0.0,1.0,4.0
174,1.0,3.0,2.0,6.0,4.0,1.0,0.0,3.0,2.0,6.0,1.0,0.0,5.0
175,1.0,4.0,2.0,4.0,6.0,1.0,0.0,3.0,2.0,9.0,0.0,0.0,5.0
176,1.0,2.0,2.0,4.0,6.0,1.0,0.0,4.0,2.0,8.0,0.0,0.0,6.0
177,2.0,3.0,3.0,7.0,3.0,2.0,0.0,4.0,2.0,8.0,0.0,0.0,3.0

In [7]:
df_disc = pd.concat([X_disc,Y],axis=1)
df_disc.to_csv("data.csv",index=False)